# Logs
logs
*.log
npm-debug.log*
yarn-error.log

# Optional npm cache directory
.npm

# Editor files
.idea
*.code-workspace

# Wordpress
themes/*/vendor

# MacOS temporary files
.DS_Store

# build files
build
dist
.next

# env vars
.env
